<!--Добавим ejs Layot к нашему сайту https://ejs.co/#install-->
<%- include("partials/header") -%>

<h1><%= title %></h1>
<p><%= message %></p>


<!--Добавим ejs Layot к нашему сайту https://ejs.co/#install-->
<%- include partials/footer.ejs -%>